
<html>
<form method="post" action="/welcome/login" >
  <fieldset>
  	<h1>登陆🐎 </h1>
  	<table>
  		<tr>
  			<th><label for="username">用户名:</label></th>
  			<td>
  				<input id="username" name="username" type="text"/>
  			</td>
  		</tr>
  		<tr>
  			<th><label for="password">密码：</label></th>
  			<td>
				<input id="password" name="password" type="password">  				
  			</td>
  		</tr>
  		<tr>
  			<th></th>
  			<td>
  				<input name="login" type="submit" value="Sign in"/>
  			</td>
  		</tr>
  	</table> 
  </fieldset>
</form>
	<div>
  		<h2>还没有账号🐴</h2>	
  			<a href="/welcome/signup">免费注册？</a>
  			<br/>
  	</div>
</html>
